
h1{
   animation-name: myAnimation;
  animation-duration: 10s;
} 

  @keyframes myAnimation {
  0%   {color:red; left:0px; top:0px;}
  50% {color: pink; left: 0px; top: 0px;}
  100% {color:black left:0px; top:0px;}
  
}   
