
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}


@keyframes myAnimation {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}


.box {
  width: 100px;
  height: 100px;
  background-color: red;

  animation-name: myAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite; 
  animation-direction: alternate;      
}

